body {
    background: hsl(300, 39%, 80%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color: hsl(300, 50%, 90%);
    padding: 20px;
    color: white;
}

.header a {
    color: #4a007f;
    margin-left: 40px;
}

